.container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h1 {
  margin-bottom: 1rem;
  background-color: #919191;
  padding: 20px;
  color: white;
  border-radius: 25px;
  border: 2px solid rgb(46, 46, 46);

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]
{
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 10px;
  background-color: white;
}



body {
  margin: 0;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(155, 101, 2);
  overflow: hidden;
}

.account {
  height: 180px;
  width: 180px;
  border: grey 2px solid;
  border-radius: 180px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dividerAccount {
  width: 50%;
  height: 0;
  border: black 1px solid;
  margin: 0;
}

.description {
  margin: 0;
}

.tooMuch {
  border-color: red;
  background-color: pink;
}

.addAccount {
  font-size: 50px;
  color: black;
  background-color: darkgray;
}

.editButton {
  width: 50%;
  border-radius: 20px;
}

.divAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}



.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 40%;
  width: 50%;
  text-align: center;
  border-radius: 20px;
}


.buttonModal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
}

.closeModal {
  border: black 2px solid;
  padding: 10px;
  border-radius: 20px;
  background-color: pink;
}

.confirmModal {
  border: black 2px solid;
  padding: 10px;
  border-radius: 20px;
  background-color: green;

}